{# empty Twig template #}
    
    
<md-list ng-cloak>
    <md-list-item >
        <md-icon icon="school"></md-icon>
        <p><a href="{{ path('curso_index') }}">Cursos</a></p>
    </md-list-item>
    
    <md-list-item >
        <md-icon icon="file-find"></md-icon>
        <p><a href="{{ path('materia_index') }}">Materias</a></p>
    </md-list-item>
    <md-list-item >
        <md-icon icon="mdi-settings"></md-icon>
        <p><a href="{{ path('inscriptos_index') }}">Inscriptos</a></p>
    </md-list-item>
    
    <md-list-item >
        <md-icon icon="mdi-settings"></md-icon>
        <p><a href="{{ path('inscriptos_index') }}">Usuarios</a></p>
    </md-list-item>
    
    <md-list-item  >
        <md-icon icon="close-circle"></md-icon>
        <p><a href="">Desarrollado por</a></p>
    </md-list-item>
</md-list>