{% extends 'base.html.twig' %}


{% block mdToolBar %}
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Lista de inscriptos</h1>
    </md-toolbar> 
{% endblock %}

{% block mdContent %}

    Hello World!

{% endblock %}
